$body-color: #d1d7e0;
$font-stack: 'Roboto Sans',
sans-serif;
$input-color: #d1d7e0;
$input-bg: rgba(76, 73, 93, 0.6);

html {
    height: 100%;
}

@font-face {
    font-family: logoFont;
    src: url(../fonts/jenthill.ttf);
}

.container-header {
    height: 25%;
    text-align: center;
}

.container-header h1 {
    width: 100%;
    font: 1000% logoFont;
    color: #802BB1;
}

#menu {
    font-size: 350%;
    font-weight: bold;
    color: #802BB1;
}

.nav-block {
    margin-left: 32.32%;
}

.nav-menu {
    width: 200px;
    height: 75px;
    text-align: center;
    display: inline-block;
    color: #802BB1;
    background: rgba(76, 73, 93, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-menu:hover {
    background: rgba(128, 43, 177, 0.4);
    color: #802BB1;
}

.guest {
    text-align: center;
    color: red;
    width: 50%;
    margin-left: 25%;
}

.custom-card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: rgba(76, 73, 93, 0.8);
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
}

.custom-fluid {
    margin-bottom: 0%;
    width: 80%;
    width: 80%;
    margin-left: 10%;
}

body {
    height: 100%;
    background: url(../images/background-photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2d283E;
    font-family: logoFont;
}

body img {
    max-width: 100%;
    height: auto;
}

.navbar {
    margin: 2% 0% 2% 0%;
}

.navbar-custom {
    background: rgba(76, 73, 93, 0.8);
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-custom .navbar-toggler:hover {
    background: rgba(128, 43, 177, 0.4);
    text-align: center;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    text-align: center;
}

.navbar-toggler {
    width: 100%;
    padding: 0;
    margin: 1% 1% 1% 0%;
    background: rgba(76, 73, 93, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-nav .nav-item {
    background: rgba(76, 73, 93, 0.8);
    margin: 1%;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-nav .nav-item:hover {
    background: rgba(128, 43, 177, 0.4);
}

.navbar-nav .nav-link {
    text-align: center;
    font-size: 200%;
    color: #d1d7e0;
}

.nav-link {
    text-align: center;
    font-size: 200%;
    color: #d1d7e0;
}

////////////////////////////////

.text-content {
    font-size: 125%;
    text-align: center;
    padding: 1%;
}

.text-col {
    border-radius: 350px;
    background: rgba(76, 73, 93, 0.8);
    margin: 1%;
}

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961;
}

.btn-facebook:link,
.btn-facebook:visited {
    color: #fff;
}

.btn-facebook:active,
.btn-facebook:hover {
    background: #263961;
    color: #fff;
}

.black {
    color: black;
}

/////////////////

.label-bold {
    font-size: 115%;
}

.custom-form-container {
    width: 80%;
    margin-left: 10%;
    background: rgba(76, 73, 93, 0.8);
    padding: 2%;
    text-align: center;
}

.form-group-custom, .form-check-custom {
    width: 75%;
    margin-left: 12.5%;
    padding: 0.5%;
}

///////////////////

.table {
    background-color: rgba(76, 73, 93, 0.8);;
}

.thpurple {
    color: #aab2bf;
}

//////////////////

.paragraph {
    font-size: 20px;
    color: #aab2bf;
    text-align: center;
}

/////////////////

.glow {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e600, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #a600, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

////////////////

@media (max-width: 768px) {
    .container-header h1 {
        font-size: 500%;
    }
}

@media (max-width: 480px) {
    .container-header h1 {
        font-size: 300%;
    }
}

textarea:focus,
textarea:active,
textarea:hover,
select:focus,
select:active,
select:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:hover,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="radio"]:focus,
input[type="radio"]:hover,
input[type="radio"]:active,
.uneditable-input:focus {
    border-color: #802BB1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

#form-caption {
    font-size: 150%;
}

.error {
    font-size: 115%;
    color: #f30;
}



#valid-spring {
    color: #00FF7F;
}

#basket {
    text-align: center;
    color: #3B5998;
    background: #d1d7e0;
}

@import "../../resources/bootstrap/scss/bootstrap";
